:root{
  --theme-primary-color: #0F1624;
  --theme-secondary-color: #ffffff;
}

*{
  margin: 0;
  padding: 0px;
  font-family: monospace sans-serif;
}
body{
  background-color: var(--theme-primary-color) !important;
}
/* begin:general */
.on-hover-underline{
  text-decoration: none;
  transition: 500ms !important;
}
.on-hover-underline:hover{
  text-decoration: underline !important;
}
.hr-line{
  width: 64px;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
}
.hr-yellow-line{
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0px;
  background: rgb(208, 187, 87);
}
.shadow-light{
  box-shadow: 0 0 .25rem rgba(255,255,255,0.50)!important;
}
/* end:general */
/* begin:hero-styles */
.bg-image{
  right: 0px;
  top: 0px;
}
.call-to-action{
  color: white !important;
  border-radius: 100px !important;
  font-weight: bold !important;
  font-size: 20px !important;
  border: none !important;
  background-image: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%) !important;
  transition: all 0.5s ease 0s !important;
}
.call-to-action:hover{
  background-image: linear-gradient(270deg, rgb(0, 219, 216) 0%, rgb(177, 51, 255) 100%) !important;
}
/* end:hero-styles */